<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mycss.css">
        <title><%= title %></title>
    </head>
    <body>
        <a name="Top"></a>
        <div id="header-panel">
            <div class="navigation">
            <span id=title><%= title %></span>
                <span id="nav-home"><a class="nav" href="home">Home</a></span>
                <span id="nav-list"><a class="nav" href="list">Shopping List</a></span>
                <span id="nav-form"><a class="nav" href="addmeal">Edit Meals</a></span>
            </div>
                
            </div>
        </div>

        <div class="flex-container">
            <div id="titlepanel">
                <form id="sendCurrentMeal" name="sendCurrentMeal" method="post" action="/switchweek">
                <select onchange="this.form.submit()" name="week" id="week">
                    <option value="Choose">Choose Week</option>
                    <option value="Week 1">Week 1</option>
                    <option value="Week 2">Week 2</optionn>
                </select>    
                </form>
                <h1><a name="pagetitle"></a>Meals</h1>
                <button id="addweek">New Week</button>
            </div>
            <div id="colors">
                <div class="colorbox" id="monday"><div class="day">Monday</div>
                    <div><%- '<br>', meallist[0].breakfast, '<br>', meallist[0].lunch, '<br>', meallist[0].dinner %></div>
                </div>
                <div class="colorbox" id="tuesday"><div class="day">Tuesday</div>
                    <div><%- '<br>', meallist[1].breakfast, '<br>', meallist[1].lunch, '<br>', meallist[1].dinner %></div>
                </div>
                <div class="colorbox" id="wednesday"><div class="day">Wednesday</div>
                    <div><%- '<br>', meallist[2].breakfast, '<br>', meallist[2].lunch, '<br>', meallist[2].dinner %></div>
                </div>
                <div class="colorbox" id="thursday"><div class="day">Thursday</div>
                    <div><%- '<br>', meallist[3].breakfast, '<br>', meallist[3].lunch, '<br>', meallist[3].dinner %></div>
                </div>
                <br>
                <br>
                <div class="colorbox" id="friday"><div class="day">Friday</div>
                    <div><%- '<br>', meallist[4].breakfast, '<br>', meallist[4].lunch, '<br>', meallist[4].dinner %></div>
                </div>
                <div class="colorbox" id="saturday"><div class="day">Saturday</div>
                    <div><%- '<br>', meallist[5].breakfast, '<br>', meallist[5].lunch, '<br>', meallist[5].dinner %></div>
                </div>
                <div class="colorbox" id="sunday"><div class="day">Sunday</div>
                    <div><%- '<br>', meallist[6].breakfast, '<br>', meallist[6].lunch, '<br>', meallist[6].dinner %></div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modalformdiv">
                    <form id="addWeekForm" name="newweek" method="post" action="/newweek">
                        <label for="newweekfield">Add a new week:</label><br>
                        <input type="text" id="newweekfield" name="newweekfield"><br>
                        <br><br>
                        <input onclick="store(); window.location.reload();" class="submitbutton" type="submit" value="Submit">
                    </form> 
                </div>
            </div>
              
        </div>
        

        <div id="footer-panel">Created by Jonah Kavadlo</div>
    </body>
</html>
<script type="text/javascript" src="/javascripts/home.js"></script>
<script>
function store(){
  var inputWeek= document.getElementById("newweekfield");
  localStorage.setItem("currentWeek", inputWeek.value);
}
</script>
