<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mycss.css">
        <title><%= title %></title>
    </head>
    <body>
        <a name="Top"></a>
        <div id="header-panel">
            <div class="navigation">
            <span id=title><%= title %></span>
            <span id="nav-home"><a class="nav" href="home">Home</a></span>
            <span id="nav-form"><a class="nav" href="addmeal">Edit Meals</a></span>
            <span id="nav-list"><a class="nav" href="list">Shopping List</a></span>
            <span id="logged-in-as"></span>
        </div>
            </div>
                
            </div>
        </div>
        
        <div class="flex-container">
            <div id="titlepanel">
                <form id="sendCurrentMeal" name="sendCurrentMeal" method="post" action="/switchlistweek">
                    <select onchange="this.form.submit()" name="week" id="week">
                        <option value="Choose" disabled>Choose Week</option>
                        <%
                            var list = '';
                            for (i = 0; i < weeksArray.length; i++) {
                            list += '<option id="' + weeksArray[i] + '" value= "'+ weeksArray[i] + '"> '+ weeksArray[i] + '</option>';
                            }
                        %>
                        <%- list %>
                    </select>    
                </form>
                <h1><a name="pagetitle"></a>Shopping List</h1>
                <button id="additem">Add Item</button>
            </div>

            <div class="paper" id="shoppinglist">
                <div class="listitem">
                    <h4 class="column">Mark Complete</h2>
                    <h4 class="column">Item</h2>
                    <h4 class="column">Quantity</h2>
                    <h4 class="column">Tags</h2>
                </div>
                <hr>
                <%  
                    if(shoppinglist.length > 0) {
                        var mylist = '';
                        for (i = 0; i < shoppinglist.length; i++) {
                        mylist += '<div class="listitem"><form id="deleteCurrentItem" name="deleteCurrentItem" method="post" action="/deleteitem"><input class="column" onclick="this.form.submit()" type="checkbox" id="item' + i + '" name="selectedItem" value="' + shoppinglist[i]._id + '"></form><label class="column" for="item' + i + '">' + shoppinglist[i].item + '</label><label class="column">' + shoppinglist[i].quantity + '</label><label class="column">' + shoppinglist[i].tags[0] + '</label></div>';
                        }
                    }
                %>
                <%- mylist %>
                <p id="emptylist"></p>
            </div>
        </div>

        <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="modalformdiv">
                        <form id="addItemForm" name="newitem" method="post" action="/newitem">
                            <h2>Add new list item</h2><br>
                            <label for="itemName">Item name:</label><br>
                            <input type="text" id="itemName" name="itemName"><br>
                            <label for="quantity">Quantity:</label><br>
                            <input type="number" id="quantity" name="quantity"><br>
                            <label for="tags">Meal tags:</label><br>
                            <input type="text" id="tags" name="tags"><br>
                            <br><br>
                            <input onclick="store(); window.location.reload();" class="submitbutton" type="submit" value="Submit">
                        </form> 
                    </div>
                </div>
                  
            </div>

        <div id="footer-panel">Created by Jonah Kavadlo</div>
    </body>
</html>

<script type="text/javascript" src="/javascripts/list.js"></script>

<script>
    var msg = "Logged in as " + localStorage.getItem("username");
    document.getElementById("logged-in-as").innerHTML = msg; 

    document.getElementById(<%- JSON.stringify(globalWeek) %>).setAttribute("selected", "");

    if(<%- JSON.stringify(shoppinglist.length) %> < 1) {
        document.getElementById("emptylist").innerHTML = "You haven't added any items yet!";
    }
</script>